body {
    background-color: #ECF8F9;
}
header {
    background-image: url("https://wallpapers.com/images/hd/dark-blue-aesthetic-forest-objipbggm1bl0xjg.webp");
background-size: cover;
background-color: A084E8;
background-repeat: no-repeat;
margin: 2px;
padding: 35px;
height: 358px;
background-position: center;
border-style:groove
}

img {
    width: 150px;
    height: auto;
    border-style: solid;
    border-color: #8BE8E5;
    border-radius:  250px 250px 250px 250px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
    font-family:sans;
    font-style: italic;
    color: #D5FFE4;
    font-weight: 500;
    text-align: center;
    font-size: larger;
}

.navbar{
    display: flex;
    background-color: #c6d8ff;
    border-style: solid;
    border-color: #310a31;
}

.nav-item{
        color: #6F61C0;
        padding: 14px 20px;
        text-decoration: none;
        text-align: center;
        width: 50%;
        font-weight: 700;
        font-size: large;      
}

.navbar, .nav-item:hover {
    color: #D5FFE4;
}

.about {
    flex: 30%;
    background-color: #9F91CC;
     padding: 2rem;
    display: flex;
    margin: 2rem;
      
}

h1 { text-align: left;

}